{% extends "../base.html" %}

{% block menu %}
<li class="nav-item active">
<a class="nav-link" href="/">Movies <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
<a class="nav-link" href="/actors">Actors</a>
</li>
{% endblock %}
{% block content %}

<div class="row">
    {% for movie in movies %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-3">
            <a href="/movie/{{ movie.id }}">
                <div class="card cardscale" >
                    <img style="position: absolute; filter: blur(1.8vw); -moz-filter: blur(2vw); -webkit-filter: blur(2vw); z-index:-1; width: 120%; margin: -10%;" src="{{ movie.img }}" class="card-img-top" alt="...">
                    <img src="{{ movie.img }}" class="card-img-top" alt="...">
                    {% if movie.rate > 0 %}
                    <div class="progress" style="height: 15px;">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ movie.rate }}%" aria-valuenow="{{ movie.rate }}" aria-valuemin="0" aria-valuemax="100">{{ movie.rate }}%</div>
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.name }}</h5>
                        <p class="card-text"><small class="text-muted">{{ movie.years }}</small></p>
                        <p class="card-text" style="font-size: 0.9rem;">{{ movie.description }}</p>
                        <p class="card-text"><small class="text-muted">{{ movie.get_nbCommentaires }} commentaires</small></p>
                    </div>
                </div>
            </a>
        </div>    
    {% endfor %}
</div>

{% endblock %}